---
layout: events
---

{% assign events = site.events | sort: 'start_time' | reverse %}
{% assign categorized_events = events | where_exp: "item", "item.start_time" %}
{% assign uncategorized_events = events | where_exp: "item", "item.start_time == nil" %}
{% assign years = categorized_events | group_by_exp: "item", "item.start_time | date: '%Y'" %}
<section class="event-archive">
  <h1>All Events</h1>

  {% for year in years %}
    <section class="year-section">
      <h2 class="year">{{ year.name }}</h2>
      
      {% assign year_events = year.items %}
      {% assign months = year_events | group_by_exp: "item", "item.start_time | date: '%B'" %}
      
      {% for month in months %}
        <div class="month-section">
          <h3>{{ month.name }}</h3>
          
          <ul class="event-list">
            {% for event in month.items %}
              <li class="event-item">
                <h4 class="event-title">
                  <time datetime="{{ event.start_time | date_to_xmlschema }}">
                    {{ event.start_time | date: "%d.%m." }}
                  </time>
                  <a href="{{ event.url }}">{{ event.title }}</a>
                </h4>
                
                
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </section>
  {% endfor %}

  {% if uncategorized_events.size > 0 %}
    <section class="year-section">
      <h2 class="year">Uncategorized</h2>
      
      <ul class="event-list">
        {% for event in uncategorized_events %}
          <li class="event-item">
            <h4 class="event-title">
              <a href="{{ event.url }}">{{ event.title }}</a>
            </h4>
          </li>
        {% endfor %}
      </ul>
    </section>
  {% endif %}
  
</section>