---
layout: events
title: Events - StartupOulu
---
{% assign now = 'now' | date: '%s' | plus: 0 %}
{% assign future_events = '' | split: '' %}

{% for event in site.events %}
  {% assign event_time = event.start_time | date: '%s' | plus: 0 %}
  {% if event_time >= now %}
    {% assign future_events = future_events | push: event %}
  {% endif %}
{% endfor %}

{% assign sorted_future_events = future_events | sort: 'start_time' %}



    <!--  event section start -->
    <section class="event_section">
        <div class="r2a_container">
          <div class="event_wrapper events-grid">
            {% for event in sorted_future_events %}
                {% include events/card.html %}
            {% endfor %}
          </div>
        </div>
        
        <div class="flex justify-center">
          <a href="archive.html" class="show_event_btn flex items-center flex-col gap-20">
            SEE ALL EVENTS
            <div class="underline"></div>
          </a>
        </div>
        
    </section>

