<section class="follow_section">
    <div class="r2a_container">
      <h2 class="common_title">Follow us on social media</h2>
      <div class="user flex items-center gap-40">
        <a href="https://instagram.com/startupoulu" class="instagram flex items-center gap-20"><img src="{{ site.baseurl }}/assets/images/instagram-musta-nelio.svg" alt="instagram logo"><span class="common_pera">@StartupOulu</span></a>
        <a href="https://www.linkedin.com/company/startupoulu/" class="linkedin flex items-center gap-20"><img src="{{ site.baseurl }}/assets/images/linkedin-musta-nelio.svg" alt="linkedin logo"><span class="common_pera">StartupOulu</span></a>
      </div>
      <!--
      <div class="follow_items flex justify-between gap-20">
        <div class="follow_item flex items-center justify-center">
          <a href="#" class="follow_icon "><img src="{{ site.baseurl }}/assets/images/insta-logo.svg" alt="insta logo"></a>
        </div>
        <div class="follow_item flex items-center justify-center">
          <a href="#" class="follow_icon "><img src="{{ site.baseurl }}/assets/images/insta-logo.svg" alt="insta logo"></a>
        </div>
        <div class="follow_item flex items-center justify-center">
          <a href="#" class="follow_icon "><img src="{{ site.baseurl }}/assets/images/insta-logo.svg" alt="insta logo"></a>
        </div>
        <div class="follow_item flex items-center justify-center d_none">
          <a href="#" class="follow_icon "><img src="{{ site.baseurl }}/assets/images/insta-logo.svg" alt="insta logo"></a>
        </div>
      </div>
      -->
    </div>
  </section>