{% assign now = 'now' | date: '%s' | plus: 0 %}
{% assign future_events = '' | split: '' %}

{% for event in site.events %}
  {% assign event_time = event.start_time | date: '%s' | plus: 0 %}
  {% if event_time >= now %}
    {% assign future_events = future_events | push: event %}
  {% endif %}
{% endfor %}


{% assign sorted_events = future_events | sort: 'start_time' %}

<!-- start _includes/upcoming_events.html -->
<section class="event_section">
  <div class="r2a_container">
    <div class="event_wrapper events_grid">
      {% for event in sorted_events limit:3 %}
        {% include events/card.html %}
      {% endfor %}
    </div>
  </div>
  <div class="flex justify-center items-center">
    <a href="/events.html" class="show_event_btn flex items-center gap-20">SEE ALL EVENTS <div class="common_arrow"></div> </a>
  </div>
</section>
<!-- end _includes/upcoming_events.html -->



