<!DOCTYPE html>
<html lang="en">
    {% include header.html %}
<body>
    {% include menu.html %}
    <!-- banner section html start -->
     <section class="event_banner contact_banner relative ">
        <div class="r2a_container flex items-center">
            <div class="content">
                <p class="top_title">CONTACT</p>
                <h2 class="common_title">Contact us and we’ll get you all the knowhow you need to get started!</h2>
                <p class="common_pera">Got any questions? <br> Got a brilliant business pitch?</p>
            </div>
        </div>
        
        <div class="banner_image absolute">
            <img src="{{ site.baseurl }}/assets/images/contact.png" alt="contact banner">
        </div>
        <div class="mobile_content absolute">
            <p class="top_title">CONTACT</p>
            <h2 class="common_title">Contact us and we’ll get you all the knowhow you need to get started!<div>
                <p class="common_pera">Got any questions? <br> Got a brilliant business pitch?</p>
        </div>
     </section>
    <!-- banner section html end -->

    <!-- contact us section html start -->
     <section class="contact_support">
        <div class="r2a_container">
            <h4 class="top_title">YOUR GO-TO PEOPLE</h4>
            <div class="contact_support_wrapper ">
                <div class="flex contact_support_item">
                    <div class="supporter_img">
                        <img src="{{ site.baseurl }}/assets/images/contacts/ilkka-immonen.jpg" alt="Ilkka Immonen">
                    </div>
                    <div class="content no-top-padding">
                        <h3 class="common_title">Ilkka Immonen</h3>
                        <p class="common_pera">
                            Development Manager, OAMK
                        </p>
                        <p class="common_pera">
                            Ilkka builds companies. He's co-founded and grown multiple game studios, and ran a game and animation studio for 7 years working with global entertainment brands and Hollywood talent. Ilkkas clientele and partnerships included such names as Wesley Snipes, Nightwish, Nintendo, Supercell, ARM, Aku Louhimies among many others. 
                        </p>
                        <p class="common_pera">
                            His network is massive. Venture capitalists, game industry leaders, government contacts from his Ministry of Employment days—he knows them all. He's coached successful game studios and taught entrepreneurship at top Finnish universities. He opens doors.
                        </p>
                        <p class="common_pera">
                            Looking for funding or the right investor introduction? Ilkka understands the Finnish funding ecosystem from the inside. He's built companies, raised capital, and made exits.
                        </p>
                        <p class="common_pera">ilkka.immonen(a)oamk.fi</p>
                        <p class="common_pera">+358 40 8311987</p>
                        <p class="common_pera">
                            <a href="https://outlook.office.com/bookwithme/user/8f2d5301926347ceb3875850dcae5dac@oamk.fi/meetingtype/6CyXbjj1eECPRhYTHWxASA2?anonymous&ep=mcard">Book a 30min remote meeting with Ilkka &rarr;</a>
                        </p>
                        <p class="flex gap-20">
                            <a href="https://www.linkedin.com/in/ilkkaimmonen" class="flex items-center"><img src="{{ site.baseurl }}/assets/images/linkedin.svg" alt="LinkedIn">&nbsp;LinkedIn</a>
                        </p>
                    </div>
                </div>
                <div class="flex contact_support_item">
                    <div class="supporter_img">
                        <img src="{{ site.baseurl }}/assets/images/contacts/tuomas-jomppanen.jpg" alt="Tuomas Jomppanen">
                    </div>
                    <div class="content no-top-padding">
                        <h4 class="common_title">Tuomas Jomppanen</h4>
                        <p class="common_pera">Startup Coach, OAMK
                        </p>
                        <p class="common_pera">
                            Tuomas is a rare combination of a developer and a designer. His 8 US patents in fintech and mobile technology show the technical depth. His Red Dot Design awards show he knows that user experience is your competitive advantage.
                        </p>
                        <p class="common_pera">
                            As a CTO, he built the tech that took a company from zero to the Helsinki Stock Exchange in six years. He has also done it for himself, he built a SaaS company alone and sold it to a company in Silicon Valley. Before all that, he was one of the first people at OP Pivo, helping build what became Finland's most popular banking app. He's seen what works at every stage.
                        </p>
                        <p class="common_pera">
                            If you're building a startup, Tuomas has actually done it. Multiple times. He's made the mistakes so you don't have to. He knows the shortcuts that work and the ones that don't. 
                        </p>
                        <p class="common_pera">tuomas.jomppanen(a)oamk.fi</p>
                        <p class="common_pera">
                            <a href="https://bit.ly/4qY1dbz">Book a 30min remote meeting with Tuomas &rarr;</a>
                        </p>
                        <p class="flex gap-20">
                            <a href="https://www.linkedin.com/in/tuomasj" class="flex items-center"><img src="{{ site.baseurl }}/assets/images/linkedin.svg" alt="LinkedIn">&nbsp;LinkedIn</a>
                            <a href="https://www.jomppanen.com" class="flex items-center"><img src="{{ site.baseurl }}/assets/images/www.svg" alt="Website">&nbsp;Website</a>
                    </div>
                </div>
                <div class="flex contact_support_item">
                    <div class="supporter_img">
                        <img src="{{ site.baseurl }}/assets/images/contacts/veera-mahlakaarto.jpg" alt="Veera Mahlakaarto">
                    </div>
                    <div class="content no-top-padding">
                        <h3 class="common_title">Veera Mahlakaarto</h3>
                        <p class="common_pera">Startup-specialist, BusinessOulu</p>
                        <p class="common_pera">
                            Veera Mahlakaarto has started as a Startup Specialist at BusinessOulu. You can reach out to Veera especially if you need support with marketing or pitching, those are her favourite topics!
                        </p>

                        <p class="common_pera">
                            Veera has a strong background in digital marketing and has coached multiple teams in pitching and stage performance. Over the past two years, she has been teaching e-commerce entrepreneurs how to start and develop their businesses, and now her expertise is available for the benefit of the whole StartupOulu community.

                        </p>
                        
                        <p class="common_pera">veera.mahlakaarto(a)businessoulu.com</p>
                        <p class="common_pera">+358 40 159 7869</p>
                        <p class="flex gap-20">
                            <a href="https://www.linkedin.com/in/veeramahlakaarto" class="flex items-center"><img src="{{ site.baseurl }}/assets/images/linkedin.svg" alt="LinkedIn">&nbsp;LinkedIn</a>
                        </p>
                    </div>
                </div>
                <div class="flex contact_support_item">
                    <div class="supporter_img">
                        <img src="{{ site.baseurl }}/assets/images/contacts/hanna-spets.jpg" alt="Hanna Spets">
                    </div>
                    <div class="content no-top-padding">
                        <h3 class="common_title">Hanna Spets</h3>

                        <p class="common_pera">
                            Project manager, OAMK
                        </p>
                        <p class="common_pera">
                            Hanna coordinates the StartupOulu brand, bringing together Oulu’s vibrant startup ecosystem under one roof and strengthening collaboration across the community. She manages the Business Corner activities at the Linnanmaa campus, where she works closely with student startups and supports early-stage entrepreneurs in their daily development. Hanna is also responsible for Oamk’s Proof-of-Concept funding, helping transform promising ideas into viable innovations.
                        </p>
                        <p class="common_pera">
                            With several years of hands-on experience in ecosystem building, Hanna has been one of the lead organizers behind Oulu’s largest startup events, including Startup Weekend Oulu, the Polar Bear Pitching volunteering program, and the Slush Oulu Community Side Event. Her work connects founders, students, partners, and stakeholders, creating meaningful opportunities for growth and visibility.
                        </p>
                        <p class="common_pera">
                            If you have any questions about Oulu’s startup events, Business Corner activities, or StartupOulu as a whole, Hanna warmly welcomes you to get in touch. 
                        </p>

                        <p class="common_pera">hanna.spets(a)oamk.fi</p>
                        <p class="common_pera">+358 50 340 7144</p>
                    </div>
                </div>
            </div>
        </div>
     </section>
    <!-- contact us section html end -->

    <!-- contact section starts -->
    <!--
    <section class="contact_section">
        <div class="r2a_container flex justify-between gap-100">
            <div class="content">
                <span class="top_title">CONTACT US</span>
                <h2 class="common_title">Want to get started?</h2>
                <p class="common_pera">Got any questions? Got a brilliant business pitch? Contact us and we’ll get you all the knowhow you need to get started!</p>
            </div>
            <form class="form">
                <div class="form_group">
                    <label for="">Name</label>
                    <input type="text" class="form_input" placeholder="">
                </div>
                <div class="form_group">
                    <label for="">Email</label>
                    <input type="email" class="form_input" placeholder="">
                </div>
                <div class="form_group">
                    <label for="">Phone</label>
                    <input type="number" class="form_input" placeholder="">
                </div>
                <div class="form_group">
                    <label for="">Message</label>
                    <textarea name="" id="" rows="6"></textarea>
                </div>
                <button class="form_btn common_btn">SEND</button>
            </form>
        </div>
    </section>

    -->
    <!-- contact section ends -->

    <!-- newsletter section start -->
    {% include newsletter.html %}
    <!-- newsletter section ends -->

    <!-- follow us section start -->
    {% include social_media.html %}
    <!-- follow us section ends -->

    {% include footer.html %}
    {% include script.html %}
</body>
</html>
